data
dist
node_modules
/db

# Keep environment variables out of version control
*.env
*.txt

# Logging
/logs
*.log

#schema generated types
/src/generated
/src/types

#temp files
*.$pnae*
database/**/*
.vscode/settings.json
